npx create-next-app@latest frontend
npx shadcn@latest add login-02
npm install next-auth
npx shadcn@latest add sidebar-07
npx shadcn@latest add button
npx shadcn@latest add input
npx shadcn@latest add field
npx shadcn@latest add signup-01
npx shadcn@latest add combobox
npx shadcn@latest add popover
npx shadcn@latest add calendar
npx shadcn@latest add avatar